.invisible {    
    visibility: hidden;
}

.wrongAnswer {
    border: 0.5px solid red; 
}

.correctAnswer {
    border: 0.5px solid green;
}

.button {
    background-color: grey;
}

.active {
    background-color: aquamarine;
}

