*{
  padding: 0;
  margin: 0  
}

.mainError {
    color: red;
}

.visibility {
    display: none
}

.onErrorInputChange {
    border-color: red;
}

.errorMessage {
    color: red;
}

.submited_data {
    border: 0.7px solid black;
    height: 40px;
}